<div class="container">
    <div class="post-container" [ngClass]="{ 'alignRight' : isOther === false, 'alignLeft' : isOther !== false }">
        <div *ngIf="isOther" class="img-container">
            <div [ngStyle]="{ 'background-image': 'url(' + post.userImg + ')'}" ></div>
        </div>
        <div class="post-row">
            <div class="info-row">
                <div class="user_name">
                    <p><b>{{post.userFullName}}</b></p>
                </div>
                <div class="post_date">
                    <p>{{post.date | date:'dd/MM/yyyy HH:mm'}}</p>
                </div>
            </div>
            <div class="text-container">
                <input type="checkbox" [checked]="isChecked" id="expanded">
                <p [ngClass]="{ 'truncated' : isChecked === true}">{{post.message}}</p>
                <a (click)="onCheck($event)">Read more</a>
            </div>
        </div>
        <div *ngIf="!isOther" class="img-container right-img">
            <div [ngStyle]="{'background-image': 'url(' + post.userImg + ')'}" ></div>
        </div>
    </div>
</div>